@model BOM_MPA.Web.Areas.PGM.Models.OtherAdjustDeduct.OtherAdjustDeductModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}
 
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("Edit", "OtherDeduction", FormMethod.Post, new { id = "frm" }))
{
      <div class="GroupBox" style="max-height: 15px" id="message">
            @Html.ValidationSummary(false, BOM_MPA.Web.Utility.Common.ValidationSummaryHead)
      </div>
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Type)

        @Html.Partial("_CreateOrEdit", Model)
         <br />
        <div class="button-center buttonSubmit">
        @if ((new BOM_MPA.Web.Utility.AppConstant()).IsEditAssigned)
        {
            <input type="submit" value="Update" style="width: auto; overflow: visible; padding-left: .25em; padding-right: .25em;" />
            
        }</div>  
                
    </fieldset>
  
}
   <div class="button-crude button-left" style="padding-left: 5px;">
        <span></span>
        @Html.ActionLink("Back to List", "Index/" + @Model.Type.ToString())
    </div>

