
@model PGM.Web.Areas.PGM.Models.FinalSettlement.FinalSettlementViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "FinalSettlement", FormMethod.Post, new { id = "frm" }))
{
 
    <fieldset>   
        <div id="message" class="form-group messageBox clearfix">
            @Html.ValidationSummary(false, PGM.Web.Utility.Common.ValidationSummaryHead)
            @if (!string.IsNullOrEmpty(Model.ErrMsg))
            {
                <div id="ErrMsg" class="@Model.ErrClss">
                    @Model.ErrMsg
                </div>
            }
        </div>   
        @Html.Partial("_CreateOrEdit", Model)        
        <div class="button-crude">
        @if ((new PGM.Web.Utility.AppConstant()).IsAddAssigned)
        {
            <input type="submit" value="Save" id="btnSave" name="btnSubmit" style="margin-right: 8px;"/>           
        }
            </div>      
    </fieldset>
}
 <div class="button-crude button-left">
     @Html.ActionLink("Back to List", "Index")    
   
</div>