@model PGM.Web.Areas.PGM.Models.SalaryStructure.SalaryStructureDetailsModel
@using PGM.Web.Helpers
@using (Html.BeginCollectionItem("SalaryStructureDetail"))
{        
    <tr>
        <td class='@Model.cssSalaryHeadClass'>
            @Html.HiddenFor(model => model.HeadId)
            @Html.DisplayFor(model => model.DisplayHeadName)
            @Html.HiddenFor(model=> model.DisplayHeadName)
        </td>
        <td  style="display:none;">
            <span class="selected-val">@Model.AmountType</span>
        </td>
        <td> 
            @Html.HiddenFor(m => m.AmountType, new { @class = "hdn-disable" })
            @Html.DropDownListFor(model => model.AmountType, Model.HeadAmountTypeList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "required ddl-deduction", @style = "width:125px;" })
        </td>
        <td class="td-right">
        @if (Model.DisplayHeadName.Contains("Provident Fund"))
        {
            <span class="pf-amount"> @Html.EditorFor(model => model.Amount) </span>
        }
        else
        {
            @Html.EditorFor(model => model.Amount)
        }
        </td>
        
        <td style="display:none">
            @Html.HiddenFor(model => model.HeadType)
        </td>
       @* <td>
            <a href="#" class="deleteRow" title="delete">
                <img src='@Url.Content("~/Content/Images/Delete.png")' style="border: none; "/></a>
        </td>*@
    </tr>
}

<style>
#Deduction .td-right input[type="text"], input[type="password"] 
{
	text-align: right;
}
</style>

<script type="text/javascript">
        $('.ddl-deduction').change(function () {
            $('input#'+ $(this).attr('id')).val($(this).val());
        });
        $(function () {
          //  $('.basic').attr('disabled', true);
            $('.cssSalaryHeadClass').css('color', 'Red');
        });
</script>
