@model PGM.Web.Areas.PGM.Models.SalaryStructure.SalaryStructureModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "SalaryStructure", FormMethod.Post))
{        
    <fieldset>
     <div class="GroupBox" style="min-height: 15px" id="message">
        @Html.ValidationSummary(false, PGM.Web.Utility.Common.ValidationSummaryHead)
      </div>
        @Html.Partial("_CreateOrEdit", Model)
        <div class="GroupBox">
            <div class="button-crude">
                @if ((new PGM.Web.Utility.AppConstant()).IsAddAssigned)
                {
                    <input type="submit" value="Save" style="margin-right: 8px;" onclick="return CheckBasicAmount();" />
                }
            </div>
            <div class="clear"></div>
        </div>
    </fieldset>
}
<div class="button-crude button-left">
    
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    if ('@Model.Message' != "") {
        $('#message').html("<b style='color:Red'>" + '@Model.Message' + "</b>");
    }

    function CheckBasicAmount() {
        $('#message').html("");
        var basicAmount = $($($('#Addition').find("tr")[1]).find("td")[3]).find("input").val();
        if (basicAmount<=0) {
            $('#message').html("<b style='color:Red'> Basic should be greater than zero. </b>");
            return false;
        }

        return true;
    }
</script>