@model PGM.Web.Areas.PGM.Models.SalaryHeadGroup.SalaryHeadGroupViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "SalaryHeadGroup", FormMethod.Post, new { id = "frm" }))
{
    <fieldset>
        <div class="message">
            @if (!string.IsNullOrEmpty(Model.strMessage))
            {
                <div class="@Model.errClass">
                    @Model.strMessage
                </div>
            }
            @Html.ValidationSummary(false, PGM.Web.Utility.Common.ValidationSummaryHead)
        </div>
        @Html.Partial("_CreateOrEdit", Model)
        <br />
        <div class="button-center buttonSubmit">
            @if ((new PGM.Web.Utility.AppConstant()).IsAddAssigned)
            {
                <input type="submit" value="Save" style="width: auto; overflow: visible; padding-left: .25em;
                    padding-right: .25em;" />
            }
            <input type="button" value="Clear" id="btnClear" name="btnClear" />
        </div>
    </fieldset>
}
<div class="button-crude button-left">
    @Html.ActionLink("Back to List", "Index")
</div>
