@model PGM.Web.Areas.PGM.Models.SalaryHeadGroup.SalaryHeadGroupViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "SalaryHeadGroup", FormMethod.Post, new { id = "frm" }))
{
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <div class="message">
            @if (!string.IsNullOrEmpty(Model.ErrMsg))
            {
                <div class="@Model.errClass">
                    @Model.ErrMsg
                </div>
            }
            @Html.ValidationSummary(false, PGM.Web.Utility.Common.ValidationSummaryHead)
        </div>
       
        @Html.Partial("_CreateOrEdit", Model)
          
        <div class="button-center buttonSubmit" style="margin-top:10px;">
            @if ((new PGM.Web.Utility.AppConstant()).IsEditAssigned)
            {
                <input type="submit" value="Update" style="width: auto; overflow: visible; padding-left: .25em;
                    padding-right: .25em;" />
            }
            <input type="button" value="Clear" id="btnClear" name="btnClear" />
        </div>
    </fieldset>
}
<div class="button-crude button-left">
    @Html.ActionLink("Back to List", "Index")
</div>
