@model PGM.Web.Areas.PGM.Models.TaxExemptionRule.TaxExemptionRuleViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "TaxExemptionRule", FormMethod.Post, new { id = "frm", @encType = "multipart/form-data" }))
{

    <fieldset>

        <div class="GroupBox" id="message" style="min-height:15px;">
            @Html.ValidationSummary(false, PGM.Web.Utility.Common.ValidationSummaryHead)
            @if (!string.IsNullOrEmpty(Model.ErrMsg))
            {
                <div id="ErrMsg" class="@Model.errClass">
                    @Model.ErrMsg
                </div>
            }
        </div>
        @Html.Partial("_CreateOrEdit", Model)
        <div class="button-crude">
            @if ((new PGM.Web.Utility.AppConstant()).IsAddAssigned)
            {
                <input type="submit" value="Save" id="btnSave" name="btnSave" style="margin-right: 8px;" />
            }
            <input type="button" value="Clear" id="btnClear" name="btnClear" />
        </div>

    </fieldset>
}

<div class="button-crude button-left">
    @Html.ActionLink("Back to List", "Index")
</div>


