@model PGM.Web.Areas.PGM.Models.BonusProcess.BonusProcessViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "BonusProcess", FormMethod.Post, new { id = "frm" }))
{
    <fieldset>
        
        <div class="message">
            @Html.ValidationSummary(false, PGM.Web.Utility.Common.ValidationSummaryHead)
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <div class="@Model.errClass">
                    @Model.Message
                </div>
            }
        </div>

        @Html.Partial("_CreateOrEdit", Model)
        <div class="GroupBox">
            <div class="button-crude">
                @if ((new PGM.Web.Utility.AppConstant()).IsAddAssigned)
                {
                    <input type="submit" value="Process" id="btnSave" name="btnSubmit" style="margin-right: 8px;"/>
                }
            </div>
            <div class="clear"></div>
        </div>

    </fieldset>

}

<div class="button-crude button-left">
    @Html.ActionLink("Back to List", "Index")
</div>