@using PGM.Web.Areas.PGM.Models.OtherAdjustmentStyleOne
@model OtherAdjustmentStyleOneModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.jqGrid.addons-4.1.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

@using (Ajax.BeginForm("Index", "OtherAdjustmentStyleOne", new AjaxOptions { HttpMethod = "POST" }, new { id = "frm" }))
{
    <fieldset>
        <div class="GroupBox" id="message">
            @Html.ValidationSummary(false, PGM.Web.Utility.Common.ValidationSummaryHead)
        </div>

        <div class="GroupBox">
            <div id="jqSearch">
            </div>
            <div class="clear">
            </div>
        </div>

        <div class="GroupBox">
            <div class="button-crude button-left">
                @if ((new PGM.Web.Utility.AppConstant()).IsAddAssigned)
                {
                    @Html.ActionLink("Add New", "Create")
                }
            </div>
            <div class="clear"></div>
        </div>

        <table id="jqGrid" cellpadding="0" cellspacing="0"></table>
        <div id="jqGridPager" style="text-align: center;">
        </div>
        <div id="divList">
            <div id='delete-dialog' title='Delete Record' style="height: 20px">
                <p style="line-height: 1em">
                    <span class='ui-icon ui-icon-alert' style='float: left; margin: 0 7px 20px 0;'></span>
                    Do you want to delete this record?
                </p>
            </div>
            @Html.Partial("_GridList2", Model)
        </div>
        <div class="button-crude button-left">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </fieldset>
}
