@model PGM.Web.Areas.PGM.Models.ExcludeEmpFromReport.ExcludeEmpFromReportModel

<div class="GroupBox" id="message">
    @Html.ValidationSummary(false, PGM.Web.Utility.Common.ValidationSummaryHead)
</div>
<div class="GroupBox">
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.SalaryHeadId)
            <label style='color: red'>*</label>
        </span>
        <span class="field">
            @Html.DropDownListFor(m => m.SalaryHeadId, Model.SalaryHeadList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "select-single required" })
        </span>
        <span class="label-right">
            @Html.LabelFor(model => model.Employee)
        </span>
        <span class="field">
            @Html.ListBoxFor(m => m.SelectedEmployees, Model.EmployeeList, new { @class = "select-single required"})
        </span>
    </div>
</div>



