
@model PGM.Web.Areas.PGM.Models.BankAdviceLetter.BankAdviceLetterDetailModel
@using PGM.Web.Helpers
@if (Model != null)
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.BankLetterId)

}
<tr class="dynamicRow">
    @using (Html.BeginCollectionItem("BankLetterDetails"))
    {          
        
        @Html.HiddenFor(model => model.EmployeeId)
        <td>
            <a class="deleteRow" title="delete" href="javascript:void(0)">
            <img alt="delete" style="border: none;" src="@Url.Content("~/Content/Images/Delete.png")" title="Delete" /></a>
        </td>
         <td style="text-align: center">
            @Html.DisplayFor(model => model.EmpID)
        </td>         
         <td style="text-align: center">
            @Html.DisplayFor(model => model.EmployeeInitial)
        </td>         
        <td style="text-align: left;padding-left:2px;">
            @Html.DisplayFor(model => model.FullName)
        </td>
         <td style="text-align: center">
            @Html.DisplayFor(model => model.AccountNo)
        </td>

         <td style="text-align: left;padding-left:2px;">
            @Html.DisplayFor(model => model.BankName)
        </td>

         <td style="text-align: right;">
            @Html.DisplayFor(model => model.NetPayable)
        </td>
                           
         
    }
</tr>
