@model PGM.Web.Areas.PGM.Models.TaxRegion.RegionWiseMinTaxViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "RegionWiseMinTax", FormMethod.Post, new { id = "frm" }))
{
    <fieldset>
        <div class="GroupBox" id="message" style="min-height:30px;">
            @Html.ValidationSummary(false, PGM.Web.Utility.Common.ValidationSummaryHead)
            @if (!string.IsNullOrEmpty(Model.ErrMsg))
            {
                <div class="@Model.errClass">
                    @Model.ErrMsg
                </div>
            }
        </div>

        @Html.Partial("_CreateOrEdit", Model)
        <div class="GroupBox">
            <div class="button-crude" style="align-content:flex-start">
                @if ((new PGM.Web.Utility.AppConstant()).IsAddAssigned)
                {
                    <input type="submit" value="Save" id="btnSave" name="btnSave" style="margin-right: 8px;" />
                }
                <input type="button" value="Clear" id="btnClear" name="btnClear" />
            </div>
        </div>
    </fieldset>
}
<div class="button-crude button-left">
    @Html.ActionLink("Back to List", "Index")
</div>

<style type="text/css">
    .widthField {
        width: 800px;
    }

    .readonlyField {
        background: #F2F5F8;
        width: 800px;
    }

    .amount-type {
        text-align: right;
    }
</style>