@model PGM.Web.Areas.PGM.Models.NightBill.NightBillPaymentViewModel
@using PGM.Web.Helpers

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model=> model.Mode)
<div class="GroupBox">
    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.BillMonth)
            <label class="required-field">*</label>
        </span><span class="field">
            @Html.DropDownListFor(model => model.BillMonth, Model.MonthList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "required" })
        </span><span class="label-right">
            @Html.LabelFor(model => model.PaymentDate)
            <label class="required-field">*</label>
        </span><span class="field">
            @Html.EditorFor(model=> model.PaymentDate)
        </span>
    </div>

    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.BillYear)
            <label class="required-field">*</label>
        </span><span class="field">
            @Html.DropDownListFor(model => model.BillYear, Model.YearList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "required" })
        </span><span class="label-right">
            @Html.LabelFor(model => model.DepartmentId)
            <label class="required-field">*</label>
        </span><span class="field">
            @Html.DropDownListFor(model => model.DepartmentId, Model.DepartmentList, @String.Format("{0}", Content.DDLOptionalLabel()), new { @class = "required" })
        </span>
    </div>

    <div class="row">
        <span class="label">
            @Html.LabelFor(model => model.Remarks)
        </span><span class="field">
            @Html.TextAreaFor(model=> model.Remarks)
        </span><span class="label-right">
        </span><span class="field">
        </span>
    </div>
    <div class="clear"></div>
</div>

<div class="GroupBox">
    <div class="row" align="center">

        <div style="width: 100%">
            <table id="grid" class="contenttable">
                <thead>
                    <tr>
                      
                        <th width="10%" align="center">
                           Employee ID
                        </th>
                       
                        <th width="20%" align="center">
                            Employee Name
                        </th>

                        <th width="20%" align="center">
                           Designation 
                        </th>
                        <th width="10%" align="center">
                            Total Night Days
                            <label style='color: red; font-weight: normal;'>*</label>
                        </th>
                        <th width="10%" align="center">
                            Rate
                            <label style='color: red; font-weight: normal;'>*</label>
                        </th>
                        <th width="10%" align="center">
                            Total Amount
                        </th>
                        <th width="10%" align="center">
                            Revenue Stamp
                            <label style='color: red; font-weight: normal;'>*</label>
                        </th>
                        <th width="10%" align="center">
                            Net Amount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.NightBillPaymentDetail != null && Model.NightBillPaymentDetail.Count > 0)
                    {
                        foreach (var item in Model.NightBillPaymentDetail)
                        {
                            @Html.Partial("_Detail", item);
                        }
                    }
                    
                </tbody>

            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        if('@Model.Mode' != "Create"){
            $('option:not(:selected)').attr('disabled', true);
        }
        $("#DepartmentId").live('change', function (e) {
            Calculate();
        });

        $("#BillMonth").live('change', function (e) {
            Calculate();
        });

        $("#BillYear").live('change', function (e) {
            Calculate();
        });

        $(".clsRate").live('change', function (e) {
            var id = $(this).attr('id');
            var baseId = id.substring(0, id.indexOf('__'));
            var totalAmountId = baseId.concat('__', 'TotalAmount');
            var totalDaysId = baseId.concat('__', 'TotalDays');
            var totalAmount = parseFloat($('#' + totalDaysId).val()) * parseFloat($(this).val());
            $('#' + totalAmountId).val(totalAmount);
            $('#' + baseId + '__NetAmount').val(totalAmount - parseFloat($('#' + baseId + '__RevenueStamp').val()));

        });

        $(".clsRev").live('change', function (e) {
            var id = $(this).attr('id');
            var baseId = id.substring(0, id.indexOf('__'));
            var totalAmountId = baseId.concat('__', 'TotalAmount');
            var totalDaysId = baseId.concat('__', 'TotalDays');
            var totalAmount = parseFloat($('#' + totalDaysId).val()) * parseFloat($('#' + baseId + '__PerDayRate').val());
            $('#' + totalAmountId).val(totalAmount);
            $('#' + baseId + '__NetAmount').val(totalAmount - parseFloat($(this).val()))

        });
        
        function Calculate() {

            if ($("#BillMonth").val() != "" && parseInt($("#BillYear").val()) > 0 && parseInt($("#DepartmentId").val()) > 0) {
                $.ajax({
                    url: '@Url.Action("AddDetail", "NightBill")',
                    type: 'GET',
                    data: { Id: $("#DepartmentId").val(), billMonth: $("#BillMonth").val(), billYear: $("#BillYear").val() },

                    error: function () {
                        alert("Error In Detail Page");
                    },
                    success: function (result) {
                        $("#grid tbody").empty();
                        $("#grid tbody").append(result); //$("#grid tbody").html(result);
                    }
                });
            }
            //else
            //    alert('Please Select Month & Year');

        }
    });

</script>