@model PGM.Web.Areas.PGM.Models.TaxOtherInvestment.TaxOtherInvestmentViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddDetail", "OtherInvestment", FormMethod.Post, new { id = "frm", @encType = "multipart/form-data" }))
{

    <fieldset>

        <div class="GroupBox" id="message" style="min-height:15px;">
            @Html.ValidationSummary(false, PGM.Web.Utility.Common.ValidationSummaryHead)
            @if (!string.IsNullOrEmpty(Model.ErrMsg))
            {
                <div id="ErrMsg" class="@Model.errClass">
                    @Model.ErrMsg
                </div>
            }
        </div>
        @Html.Partial("_CreateOrEdit", Model)

    </fieldset>
}

<div class="button-crude button-left">
    @Html.ActionLink("Back to List", "Index")
</div>


 